<table class="list">
  <tr>
    <th>プロフィール画像</th>
    <td>
      <% if @member.profile_picture.attached? %>
        <%= image_tag @member.profile_picture.variant(resize: "256x256") %>
      <% end %>
    </td>
  </tr>
   <tr>
     <th>ID</th>
     <td><%= @member.name %></td>
   </tr>
   <tr>
     <th>フルネーム</th>
     <td><%= @member.full_name %></td>
   </tr>
   <tr>
     <th>生年月日</th>
     <td><%= @member.birthday %></td>
   </tr>
   <tr>
     <th>性別</th>
     <td>
       <% if @member.sex == 1 %>
        <%= "男性" %>
       <% else %>
        <%= "女性" %>
       <% end %>
     </td>
   </tr>
   <tr>
     <th>メールアドレス</th>
     <td><%= @member.email %></td>
   </tr>
 </table>
